@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   font-family: "Comfortaa", sans-serif;

}
html{
scroll-behavior: smooth;

}
/* Dastlabgi holat */
.fade-in {
  /* display: none;  */
  opacity: -1;      /* Butunlay yashiringan */
  transform: translateY(100px);
  transition: opacity 1s ease, transform 2s ease;
}

/* Ko‘rinadigan va animatsiyali holat */
.fade-in.show {
  display: block;
  opacity: 1;
  transform: translateY(10px);
}
body {
  margin: 0;
  padding: 0;
  
  background: white;
  color: white;

}

header {
    font-size: 2rem;

  display: flex;
  justify-content:space-between;
  align-items: center;
  /* padding: 15px 30px; */
  margin: 0 5%;
  width: 90;
  /* padding: 3%; */
}
.header {
    height: 95vh;
    margin: 0;
    padding: 0;
  background:linear-gradient(  #A30F0F , #e75959);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */


}
header img{
  width: 90px;
  height: 90px;
}
.logo {
  display: flex;
  align-items: flex-center;
  /* margin-left: 10vw;   */
}
.logo img{
    width: 100%;
    height: 180px;
  /* padding-bottom: 5rem; */
    /* margin-left: 15rem; */
    object-fit: cover;
    /* height: 100%; */
}
.right-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
    gap: 2rem;
    text-align: right;
}
.right-icons a{
  text-decoration: none;
}
.navbar {
  display: none;
  flex-direction: column;
  background-color: white;
  border-radius: 20px ;
}

.navbar a {
  color: #e75959;
  padding: 12px 16px;
  text-decoration: none;
  /* border-bottom: 1px solid #555; */
}
.navbar i {
  text-align: center;
  padding-top: 1rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  opacity: 0.5;
}
.navbar a:hover {
  color: #A30F0F;
}
.right-icons input {
  padding:  1.2rem; 
  font-size: .5rem;
  border-radius: 3rem;
  background: none;
  /* background: rgba(255, 255, 255, 0.1); */
    width: 7rem;
    transition: all 0.3s ease;
    font-weight: 300;
    font-family: 'Arial', sans-serif;
  border: 3px solid white;
    color: white;
  outline: none;
}
.right-icons input::placeholder {
  color: white;
  font-size: 1rem;
    font-weight: 900;
    width: 100%;
}
.right-icons i {
  font-size: 3rem;
  cursor: pointer;
  color: white;
    transition: color 0.3s ease;
    position: relative;
    left: -55px;
    top: 7px;
}
.right-icons i:nth-child(1) {
  /* left: -3rem; */

  border: 0px solid white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
.right-icons i:hover {
  color: #f44336;
  color: black;
}
.right-icons i.active {
  color: #f44336;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
.hero h1 {
  font-size: 3rem;
  margin: 0;
}
.hero p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 2rem;
  opacity: 0.7;
}
.about {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#e75959, #A30F0F);
  padding: 5rem;

}
.about .about-heading{
  /* font-size: 2.5rem; */
  text-align: start;
  font-weight: 600;
  line-height: 1.5;
  width: 70%;
}
.about .about-main ul{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  gap: 1.7rem;
  list-style: none;
  
}
.about .about-main{
  display: flex;
  font-size: 2rem;
  /* flex-direction: column; */
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.about .about-main img {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 20px;
}
.about .about-footer img {
  width: 400px;
  height: 290px;
  /* object-fit: cover; */
  border-radius: 20px;
}
.card_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #A30F0F;
}
.card{
  border: 1px solid black;
  border-radius: 20px;
  height: 35vh;

  text-align: start;
}
.card_container article{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
gap: 1rem;
  border-radius: 20px;

}

.card .heart i {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.card .heart i:hover {
  color: #f44336;
}
.card .heart i.active {
  color: #f44336;
}
.card .heart{
  background-color: #A30F0F;
  width: 30%;
  padding-top: 1rem;
  padding-left: .7rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius:100% ;
  border-top-left-radius: 20px;
  
}
.card .heart i{
  display: none;
}
.card .heart{
  display: none;
}
.card:hover .heart {
  display: block;
}
.card:hover .heart i{
  display: block;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;

  transition: background-color 0.3s ease;
  text-align: center;
}
.button .yana{
  background-color: none;
  color:#A30F0F;
  font-size: 1.5rem;
  border: 1px solid #A30F0F;
  padding: 1rem 2rem;
  border-radius: 3rem;
    cursor: pointer;
  transition: all 0.3s ease;
  width: 10%;
}
.fa-star {
  font-size: 20px;
  color: #ccc; /* Bo‘sh yulduz rangi */
}

.checked {
  color: gold; /* To‘ldirilgan yulduz rangi */
}
.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.price .add-to-cart {
  background-color: #A30F0F;
  color: white;
  padding: 1rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  width: 90%;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
}
.yetqazish{
  width: 75%;
  height: 70vh;
  color: #A30F0F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.yetqazish .text p{
  font-size: 3.5rem;
  /* width: 60%; */


}
.yetqazish .text{

  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.yetqazish .text i{
  font-size: 7rem;
  text-align: center;
  padding-right:6rem ;
}
.search {
  margin: 5rem;
display: flex;
justify-content: center;
align-items: center;
}
.search .input{
width: 40%;
display: flex;
background-color: #A30F0F;
height: 8vh;
border: 1px solid #A30F0F;
border-radius: 50px;
}
.search .input input{
  height: 100%;
  width: 80%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
}
.search .input .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.search .input .icon i{
  font-size: 3rem;
}


.site-footer {
  background: #fff;
  color: #a61b1b;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.site-footer .description {
  font-size: 2rem;
  margin-bottom: 30px;
  width: 70%;
  text-align: center;
}

.site-footer .contact-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 2rem;
}
.footer_content{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.contact-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-size: 2rem;

}
.contact-item a{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #871212;
  text-decoration: none;
  gap: .5rem;
}
.contact-form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form input {
  width: 100%;
  padding: 12px 18px;
  border: 2px solid #a61b1b;
  border-radius: 30px;
  margin: 10px 5px;
  font-size: 16px;
  color: #a61b1b;
  outline: none;
  font-size: 1.6rem;

}
.contact-form input::placeholder{
  text-align: center;
}
.contact-form button {
  background: #a61b1b;
  color: white;
  width: 50%;
  padding: 12px 30px;
  font-size: 1.6rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #871212;
}

.qr-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.qr-block {
  text-align: center;
}
.qr-block img{
  width: 100%;
  height: 20vh;
}
.qr-block:nth-child(3) img{
border: 1px solid #871212;
  
}
.qr-block img:hover{
border: 1px solid #871212;
}
.qr-block i {
  font-size: 2rem;
  margin-bottom: 10px;
  display: block;
}

.location-box {
  background-color: #a61b1b;
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  /* width: 50%; */
  height: 10vh;
  
}

.location-box i {
  margin-right: 8px;
}

.address {
  margin-top: 5px;
  font-size: 15px;
}
.location-box {
  opacity: 0;
  transform: translateX(-80px);
  background-color: #a61b1b;

  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 15px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  animation-name: location;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /* position: relative; */
}
@keyframes location{
  from  {width: 0;}

  to {width: 49%;}
}
/* Ko‘rinsa — animatsiya qo‘llanadi */
.location-box.show {
  opacity: 1;
  transform: translateX(-25px);
}


.hidden-footer {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Scrollda ko‘ringanda chiqarish */
.show-footer {
  opacity: 1;
  transform: translateY(0);
}
.about-heading  {
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-heading.show {
  opacity: 1;
  transform: translateX(0);
}
.about-main  {
  opacity: 0;
  transform: translateX(-1000px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-main.show {
  opacity: 1;
  transform: translateX(0);
}
.about-footer  {
  opacity: 0;
  transform: translateX(-1000px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-footer.show {
  opacity: 1;
  transform: translateX(0);
}
.hero {
  opacity: 0;
   transform: translateY(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.hero.show {
  opacity: 1;
  transform: translateX(0);
}