@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* Dastlabgi holat */
.fade-in {
  /* display: none;  */
  opacity: -1; /* Butunlay yashiringan */
  transform: translateY(100px);
  transition: opacity 1s ease, transform 2s ease;
}
.modal-backdrop {
  opacity: 0 !important; /* Fon xiraligini olib tashlaydi */
}

/* Ko‘rinadigan va animatsiyali holat */
.fade-in.show {
  display: block;
  opacity: 1;
  transform: translateY(10px);
}
body {
  margin: 0;
  padding: 0;

  background: white;
  color: white;
}

header {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  width: 90%;
}
.header {
  height: 95vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#a30f0f, #e75959);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header img {
  width: 90px;
  height: 90px;
}
.logo {
  display: flex;
  align-items: flex-center;
  /* margin-left: 10vw;   */
}
.logo img {
  width: 100%;
  height: 180px;

  object-fit: cover;
  /* height: 100%; */
}
.right-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  text-align: right;
}
.right-icons a {
  text-decoration: none;
}
.navbar {
  display: none;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

.navbar a {
  color: #e75959;
  padding: 12px 16px;
  text-decoration: none;
  /* border-bottom: 1px solid #555; */
}
.navbar i {
  text-align: center;
  padding-top: 1rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem;
  opacity: 0.5;
}
.navbar a:hover {
  color: #a30f0f;
}
.right-icons input {
  padding: 1.2rem;
  font-size: 0.5rem;
  border-radius: 3rem;
  background: none;
  /* background: rgba(255, 255, 255, 0.1); */
  width: 7rem;
  transition: all 0.3s ease;
  font-weight: 300;
  font-family: "Arial", sans-serif;
  border: 3px solid white;
  color: white;
  outline: none;
}
.right-icons input::placeholder {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  width: 100%;
}

.right-icons i:nth-child(1) {
  /* left: -3rem; */

  border: 0px solid white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}
.right-icons i:hover {
  color: #f44336;
  color: black;
}
.right-icons i.active {
  color: #f44336;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
.hero h1 {
  font-size: 3rem;
  margin: 0;
}
.hero p {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 2rem;
  opacity: 0.7;
}
.about {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#e75959, #a30f0f);
  padding: 5rem;
}
.about .about-heading {
  /* font-size: 2.5rem; */
  text-align: start;
  font-weight: 600;
  line-height: 1.5;
  width: 70%;
}
.about .about-main ul {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  gap: 1.7rem;
  list-style: none;
}
.about .about-main {
  display: flex;
  font-size: 2rem;
  /* flex-direction: column; */
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about .about-main img {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 20px;
}
.about .about-footer img {
  width: 400px;
  height: 290px;
  /* object-fit: cover; */
  border-radius: 20px;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #a30f0f;
}
.card {
  border: 1px solid black;
  border-radius: 20px;
  height: 35vh;
  text-align: start;
}

.card_container article {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 0.5rem;
  border-radius: 20px;
}

.card .heart i {
  padding-bottom: 2rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.card .heart i:hover {
  color: #f44336;
}
.card .heart i.active {
  color: #f44336;
}
.card .heart {
  background-color: #a30f0f;
  width: 30%;
  padding-top: 1rem;
  padding-left: 0.7rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 20px;
}
.card .heart i {
  display: none;
}
.card .heart {
  display: none;
}
.card:hover .heart {
  display: block;
}
.card:hover .heart i {
  display: block;
}
article h3 {
  color: black;
  font-size: 1.7rem;
}
article p{
  font-size: 1.5rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  transition: background-color 0.3s ease;
  text-align: center;
}
.button a button {
  background-color: none;
  color: #a30f0f;
  font-size: 1.5rem;
  border: 1px solid #a30f0f;
  padding: 1rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}
.fa-star {
  font-size: 20px;
  color: #ccc; /* Bo‘sh yulduz rangi */
}

.checked {
  color: gold; /* To‘ldirilgan yulduz rangi */
}
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.price .add-to-cart {
  background-color: #a30f0f;
  color: white;
  padding: 1rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  width: 90%;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: 700;
}
.yetqazish {
  width: 80%;
  padding: 5rem 0;
  height: auto;
  color: #a30f0f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.yetqazish .text p {
  font-size: 3.5rem;
  /* width: 60%; */
}
.yetqazish .text {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 500px;
}
.yetqazish img{
  width: 500px;
}
.yetqazish .text i {
  font-size: 7rem;
  text-align: center;
  padding-right: 6rem;
}
.search {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .input {
  width: 40%;
  display: flex;
  background-color: #a30f0f;
  height: 8vh;
  border: 1px solid #a30f0f;
  border-radius: 50px;
}
.search .input input {
  height: 100%;
  width: 80%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
}
.search .input .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.search .input .icon i {
  font-size: 3rem;
}

.site-footer {
  background: #fff;
  color: #a61b1b;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.site-footer .description {
  font-size: 2rem;
  margin-bottom: 30px;
  width: 70%;
  text-align: center;
}

.site-footer .contact-title {
  font-size: 2.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 2rem;
  width: 500px;
}
.footer_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;
}
.contact-item {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  font-size: 2rem;
}
.contact-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #871212;
  text-decoration: none;
  gap: 0.5rem;
  font-size: 2rem;

}
.contact-item a img{
  width: 5vw;
  min-width: 40px;
}
.contact-form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.contact-form input {
  width: 100%;
  padding: 12px 18px;
  border: 2px solid #a61b1b;
  border-radius: 30px;
  margin: 10px 5px;
  font-size: 16px;
  color: #a61b1b;
  outline: none;
  font-size: 1.6rem;
}
.contact-form input::placeholder {
  text-align: center;
}
.contact-form button {
  background: #a61b1b;
  color: white;
  width: 50%;
  padding: 12px 30px;
  font-size: 1.6rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background: #871212;
}

.qr-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
}

.qr-block {
  text-align: center;
}
.qr-block img {
  width: 12vw;
  height: auto;
  min-width: 120px;
}
.qr-block:nth-child(3) img {
  border: 1px solid #871212;
}
.qr-block img:hover {
  border: 1px solid #871212;
}
.qr-block i {
  font-size: 2rem;
  margin-bottom: 10px;
  display: block;
}

.qr-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
}

.qr-block {
  cursor: pointer;
}
.qr-wrapper .qr-block img {
  border: 1px solid #871212;
}
/* LOCATION BOX ANIMATSIYA HOLATI */
.location-box {
  background-color: #a61b1b;
  color: white;
  padding: 15px;
  width: 70%;
  font-size: 14px;
  overflow: hidden;
  white-space: normal;
  max-width: 0;
  opacity: 0;
  max-height: 0;
  transform: translateX(-50px);
  transition: max-width 1s ease, max-heigt 1s ease, opacity 0.1s ease,
    transform 0.1s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-box .location-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.location-box p {
  width: 80%;
  text-align: left;
}
/* ICHIDAGI TEXTLAR AVVAL YASHIRIN */
.location-text {
  opacity: 0;
  font-size: large;
  transform: translateY(0);
  transition: opacity 0.1s ease 0.5s, transform 0.6s ease 1s; /* delay 1s */
}

/* SHOW CLASS QO‘SHILGANDA */
.location-box.show {
  max-width: 100%;
  max-height: 90px;
  opacity: 1;
  transform: translateX(0);
}

/* ICHIDAGILAR HAM KO‘RINADI */
.location-box.show .location-text {
  opacity: 1;
  transform: translateY(0);
}

.address {
  margin-top: 5px;
  font-size: 15px;
}

.hidden-footer {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

/* Scrollda ko‘ringanda chiqarish */
.show-footer {
  opacity: 1;
  transform: translateY(0);
}
.about-heading {
  opacity: 0;
  transform: translateX(-500px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-heading.show {
  opacity: 1;
  transform: translateX(0);
}
.about-main {
  opacity: 0;
  transform: translateX(-1000px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-main.show {
  opacity: 1;
  transform: translateX(0);
}
.about-footer {
  opacity: 0;
  transform: translateX(-1000px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-footer.show {
  opacity: 1;
  transform: translateX(0);
}
.hero {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.hero.show {
  opacity: 1;
  transform: translateX(0);
}
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  height: 10vh;
}
.product-container {
  display: flex;
  gap: 10rem;

  width: 90%;
  margin: 5rem auto;
  color: black;
}
.product-container .left1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}
.product-container .left1 .img__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  gap: 1rem;
}
.product-container .left1 .img__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.product-container .left1 .img__container .img1 {
  border: 1px solid #a30f0f;
  width: 50%;
  height: 50vh;
  border-radius: 20px;
}
.product-container .left1 .img__container .img2 {
  width: 17%;
  height: 50vh;
  border-radius: 20px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.product-container .left1 .img__container .img2 img {
  border: 1px solid #a30f0f;
}
.product-container .right1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* align-items: center; */
}
.product-container .right1 .description {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.product-container .right1 h1 {
  font-size: 2.5rem;
  color: #a30f0f;
}
.product-container .right1 .batafsil {
  font-size: 1.5rem;
  gap: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.product-container .right1 .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.product-footer {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: end;

  padding: 2rem 3rem 0 0;
}
.product-footer button {
  background-color: #a30f0f;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 3rem;
  cursor: pointer;
  width: 50%;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  border: none;
}
.product-footer button:hover {
  background-color: #f44336;
}
.product-footer i {
  font-size: 2rem;
  color: #a30f0f;
  cursor: pointer;
  transition: color 0.3s ease;
}
.product-footer .img-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid #a30f0f;
  padding: 1rem;
}
.right1 h3 {
  color: #a30f0f;
  font-size: 2rem;
}
.right1 .rating span {
  /* color: #f44336; */
  font-size: 1.5rem;
}
.right1 input {
  width: 50%;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: 1px solid gray;
  font-size: 1.2rem;
}
.right1 input::placeholder {
  color: gray;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
.right1 input:active {
  outline: none;
  border: 1px solid gray;
}
.right1 input:focus {
  outline: none;
  border: 1px solid gray;
}
.header2 a button {
  background-color: #a30f0f;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.3s ease;
  border: none;
}
.header2 a button::before {
  content: "←";
  margin-right: 0.5rem;
}
.header2 a button:hover {
  background: none;
  color: #f44336;
  border: 1px solid #f44336;
}
.header2 a button:active {
  background: none;
  color: #f44336;
  border: 1px solid #f44336;
}
.xabar {
  opacity: 0;
  transform: translateX(500px);
  transition: all 0.5s ease-in-out;
}

.xabar.korsat {
  animation: ongdan 1s ease-in-out forwards;
}

@keyframes ongdan {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.photo-container {
  position: relative;
  display: inline-block;
}

.x-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: red;
  cursor: pointer;
  display: none;
}
.photo-container:hover .x-icon {
  display: block;
}
.card-product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.card-product-container article .photo-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #a30f0f;
  border-radius: 20px;
}
.card-product-container article .photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.swipe-btn {
  width: 420px;
  height: 50px;
  background: #eee;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: all 0.5s ease;
  margin-top: 30rem;
  margin-left: 20rem;
  border: 1px solid #a30f0f;
  background: none;
}
.swipe-handle {
  width: 50px;

  height: 100%;
  background: red;
  border-radius: 25px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}
.swipe-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-weight: bold;
}
.swipe-btn.active {
  background: none;
  border-color: #f44336;
  animation: redden 1s ease forwards;
}
@keyframes redden {
  0% {
    background: none;
  }
  100% {
    background: #f44336;
  }
}
.swipe-btn.active .swipe-handle {
  opacity: 0;
  left: calc(100% - 50px);
}
.confirmed-text {
  display: none;
  color: white;
}
.swipe-btn.active .confirmed-text {
  display: block;
}
.swipe-btn.active .initial-text {
  display: none;
}
.none {
  width: 60vw;
  height: auto;
  display: none;
}
.about-heading,
.about-main,
.about-footer {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}

.about-heading.show,
.about-main.show,
.about-footer.show {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 480px) {
  .contact-item a {
    gap: 0;
  }
  html{
    font-size: 10px;
  }
  header{
    height: 10vh;
  }
  .user{
    width: 13vw;
    height: auto;
  }
 .qr-block i{
  font-size: 3rem;
 }
  .hero{
  justify-content: space-between;
 

  }
  .logo img {
    display: none;
  }
  .block{
    display: none;
  }
  .none {
    display: block;
  }
  .about{
    height: 50vh;
    padding:5rem 0 ;
    gap: 2rem;
    justify-content: space-around;
  }
  .about-main img{
    display: none;
  }
  .about-footer {
    display: none;
  }
  .about .about-heading{
    width: 90%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }
  .about .about-main ul {
    width: 100%;
    text-align: center;
    
  }
  .about .about-main ul li{
    font-size: 2rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    list-style: disc;
  }
  .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
 
}
.card .heart i {
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.card .heart i:hover {
  color: #f44336;
}
.card .heart i.active {
  color: #f44336;
}
.card .heart {
  background-color: #a30f0f;
  width: 10vw;

}

.yetqazish .text p{
  width: 100%;
  text-align: center;
}
.yetqazish img{
  width: 90%;
  margin: 0 auto;
}
.contact-form{
  width: 80%;
  margin: 5rem auto;

}
.contact-form input::placeholder{
  font-size: 2.1rem;
}
.location-box{
  display: none;
}
.qr-wrapper .qr-block img{
  border: none;
}
#qrHover i {
  opacity: 1 !important;
}
}
@media (max-width: 450px) {
  html{
    font-size: 10px;
  }


  .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(130px, 1fr));
 
}

}
@media (max-width: 420px) {
  html{
    font-size: 8px;
  }


.card{
  height: 30vh;
}


}
@media (max-width: 400px) {
.card{
  height: 28vh;
}


}
@media (max-width: 350px) {
.card{
  height: 25vh;
}


}

@media (min-width: 481px) and (max-width: 768px) {
  html{
    font-size: 12px;
  }
  header{
    height: 10vh;
  }
  .user{
    width: 13vw;
    height: auto;
  }
 .qr-block i{
  font-size: 3rem;
 }
  .hero{
  justify-content: space-between;
 

  }
  .logo img {
    display: none;
  }
  .block{
    display: none;
  }
  .none {
    display: block;
  }
  .about{
    height: 50vh;
    padding:5rem 0 ;
    gap: 2rem;
    justify-content: space-around;
  }
  .about-main img{
    display: none;
  }
  .about-footer {
    display: none;
  }
  .about .about-heading{
    width: 90%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }
  .about .about-main ul {
    width: 100%;
    text-align: center;
    
  }
  .about .about-main ul li{
    font-size: 2rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    list-style: disc;
  }
  .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
 
}
.card .heart i {
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.card .heart i:hover {
  color: #f44336;
}
.card .heart i.active {
  color: #f44336;
}
.card .heart {
  background-color: #a30f0f;
  width: 10vw;

}
.contact-info{
  width: 90%;
  margin: 3rem auto;
}
.yetqazish .text p{
  width: 100%;
  text-align: center;
}
.yetqazish img{
  width: 90%;
  margin: 0 auto;
}
.contact-form{
  width: 80%;
  margin: 5rem auto;

}
.contact-form input::placeholder{
  font-size: 2.1rem;
}
.location-box{
  display: none;
}
.qr-wrapper .qr-block img{
  border: none;
}
#qrHover i {
  opacity: 1 !important;
}
.qr-block img{
  min-width: 200px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  html{
    font-size: 14px;
  }
  header{
    height: 10vh;
  }
  .user{
    width: 13vw;
    height: auto;
  }
 .qr-block i{
  font-size: 3rem;
 }
  .hero{
  justify-content: space-between;
 

  }
  .logo img {
    display: none;
  }
  .block{
    display: none;
  }
  .none {
    display: block;
  }
  .about{
    height: auto;
    padding:10rem 0 ;
    gap: 2rem;
    justify-content: space-around;
  }
  .about-main img{
    display: none;
  }
  .about-footer {
    display: none;
  }
  .about .about-heading{
    width: 90%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }
  .about .about-main ul {
    width: 100%;
    text-align: center;
    
  }
  .about .about-main ul li{
    font-size: 2rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    list-style: disc;
  }
  .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
 
}
.card .heart i {
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.card .heart i:hover {
  color: #f44336;
}
.card .heart i.active {
  color: #f44336;
}
.card .heart {
  background-color: #a30f0f;
  width: 10vw;

}
.contact-info{
  width: 90%;
  margin: 3rem auto;
}
.yetqazish .text p{
  width: 100%;
  text-align: center;
}
.yetqazish img{
  width: 90%;
  margin: 0 auto;
}
.contact-form{
  width: 80%;
  margin: 5rem auto;

}
.contact-form input::placeholder{
  font-size: 2.1rem;
}
.location-box{
  display: none;
}
.qr-wrapper .qr-block img{
  border: none;
}
#qrHover i {
  opacity: 1 !important;
}
.qr-block img{
  min-width: 200px;
}
.price .add-to-cart {
  width: 100%;
  font-size: 1rem;
}
}
@media (min-width: 992px) and (max-width: 1199px) {

 html{
    font-size: 16px;
  }
  header{
    height: 10vh;
  }
  .user{
    width: 13vw;
    height: auto;
  }
 .qr-block i{
  font-size: 3rem;
 }
  .hero{
  justify-content: space-between;
 

  }
  .logo img {
    display: none;
  }
  .block{
    display: none;
  }
  .none {
    display: block;
  }
  .about{
    height: auto;
    padding:10rem 0 ;
    gap: 2rem;
    justify-content: space-around;
  }
  .about-main img{
    display: none;
  }
  .about-footer {
    display: none;
  }
  .about .about-heading{
    width: 90%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }
  .about .about-main ul {
    width: 100%;
    text-align: center;
    
  }
  .about .about-main ul li{
    font-size: 2rem;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    list-style: disc;
  }
  .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 2fr));
 
}
.card .heart i {
  padding-bottom: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
.card .heart i:hover {
  color: #f44336;
}
.card .heart i.active {
  color: #f44336;
}
.card .heart {
  background-color: #a30f0f;
  width: 10vw;

}
.contact-info{
  width: 90%;
  margin: 3rem auto;
}
.yetqazish .text p{
  width: 100%;
  text-align: center;
}
.yetqazish img{
  width: 90%;
  margin: 0 auto;
}
.contact-form{
  width: 50%;
  margin: 5rem auto;
  gap: 1rem;

}
.contact-form input::placeholder{
  font-size: 2.1rem;
}
.location-box{
  display: none;
}
.qr-wrapper .qr-block img{
  border: none;
}
#qrHover i {
  opacity: 1 !important;
}
.qr-block img{
  min-width: 200px;
}
.price .add-to-cart {
  width: 100%;
  font-size: 1rem;
}
}
@media (min-width: 1200px) {

 .about{
  height: auto;
  padding: 5rem 0;
 }
   .card_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 2fr));
 
}
}